.teacher-result_box {
	width: 100%;
	height: 4rem;
	flex-shrink: 0;
	box-shadow: 0 0 4px 2px rgba(177, 176, 176, 0.4);
	border-radius: 5px;
	display: flex;
	align-items: center;
	background-color: white;
	overflow: hidden;
}

.teacher-result_box:hover {
	cursor: pointer;
	transform: scale(1.01);
	transition: 0.3s;
}

.teacher-result_photo_container {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 1rem;
	flex-shrink: 0;
}

.teacher-result_photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	user-select: none;
}

.teacher-result_name {
	margin-left: 1rem;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #333333;
	user-select: none;
}

/* ° ° ° ° ° ° ° ° ° ° ° Event 1 ° ° ° ° ° ° ° ° ° ° ° */
.teacher_event_1 {
	background-color: #e1875ed6;
	border: 4px solid #e1885e;
}

.teacher_event_1:hover {
	background-color: #e1875e;
	transition: 0.3s;
}

.teacher_event_1 h3 {
	background-color: #e1885e;
}
.teacher_event_1 h4 {
	color: white;
}
.teacher_event_1 p {
	color: white;
}

/* ° ° ° ° ° ° ° ° ° ° ° Event 2 ° ° ° ° ° ° ° ° ° ° ° */
.teacher_event_2 {
	background-color: #535e73d6;
	border: 4px solid #535e73;
}
.teacher_event_2:hover {
	background-color: #535e73;
	transition: 0.3s;
}
.teacher_event_2 h3 {
	background-color: #535e73;
}
.teacher_event_2 h4 {
	color: white;
}

.teacher_event_2 p {
	color: white;
}
