.navbar_container{
    width: 9rem;
    height: 100vh;
    background-color: #20212E;
    padding: 0;
    flex-shrink: 0;
    color: white;
    position: relative;
    z-index: 1000;
}


.navbar_links ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los enlaces */
    margin: 0;
    padding: 0;
}

.navbar_links a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

.navbar_links a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}