.navbar_container{
    width: 9rem;
    height: 100vh;
    background-color: #20212E;
    padding: 0;
    flex-shrink: 0;
    color: white;
    position: relative;
    z-index: 1000;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}


.navbar_logo{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 2px solid #33334D;
}

.navbar_button{
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    color: white;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

.navbar_button:hover {
    background-color: #33334D;
}

.navbar_icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 8px;
}

.active-button{
    border-bottom: 3px solid #FFFFFF;
}



.logout_button{
    width: 100%;
    height: 3.5rem;
    background: none;
    border: none;
    color: white;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid #33334D;
}

.logout_button:hover {
    background-color: #33334D;
}

.logout_profile_photo-container{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    background-color: white;

}

.logout_profile_label{
    font-weight: 500;
    font-family: poppins, sans-serif;
    color: #ffffff;
    user-select: none;
    padding: 0;
    margin: 0;

    white-space: nowrap;   
}