.attendance-list_container {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  transition: opacity 0.3s ease;
}
.attendance-list_container::-webkit-scrollbar {
  opacity: 0; 
  width: 8px;
}

.attendance-list_container:hover::-webkit-scrollbar {
  opacity: 1;
}

.attendance-list_container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.attendance-list_container::-webkit-scrollbar-thumb {
  background-color: #dbdbdbce;
  border-radius: 10px;
  display: none;
  transition: .3s;
}

.attendance-list_container:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  display: block;
}

.attendance-list_container::-webkit-scrollbar-thumb:hover {
  background-color: #c2c2c2ce;
}