.teacher_page_container {
	width: 100%;
	height: 100%;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: -rem;
}

.top_container {
	width: 100%;
	height: 60%;
	display: flex;
	gap: 1rem;
}

.attendance_calendar_container {
	width: 50%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.stats_main_container {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.requests_main_container {
	width: 100%;
	height: clamp(11rem, 30vh, 30vh);
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
