.modal {
	position: absolute;
	top: 0;
	left: 9rem;
	width: calc(100vw - 9rem);
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
.modal_close {
	width: 0;
}
.modal_overlay {
	position: absolute;
	top: 0;
	width: calc(100vw);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 100;
}
.modal_overlay_close {
	width: 0;
}
.modal_container {
	width: calc(50vw - 9rem);
	height: 100%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	position: relative;
	transition: 0.5s;
	z-index: 101;
	overflow: hidden;
}

.modal_container_close {
	transition: 0.5s;
	width: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
}

.modal_content {
	width: calc(50vw - 9rem);
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	right: 0;
}

.modal_header {
	width: 100%;
	height: 2.5rem;
	display: flex;
	position: relative;
	margin-top: 0.5rem;
	align-items: center;
	border-bottom: 3px solid #e0e0e0;
}

.tab_button {
	margin: 0;
	height: 100%;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
	color: #333333;
	display: flex;
	align-items: center;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	background: none;
	border: none;
	cursor: pointer;
}
.active_section {
	border-bottom: 4px solid #535e73;
	color: #535e73;
}

.close_button {
	position: absolute;
	right: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #333333;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.search-bar_container {
	width: calc(100% - 2rem);
	height: 2.3rem;
	margin: 1rem;
	display: flex;
	align-items: center;
}

.search-input {
	width: 100%;
	height: 100%;
	border-radius: 100px;
	border: 1px solid #939393;
	box-sizing: border-box;
	padding-left: 2rem;
	padding-right: 1rem;
}
.search-icon {
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	margin-left: 0.5rem;
	pointer-events: none;
	user-select: none;
	opacity: 0.6;
}
.pending_requests_button {
	margin-right: 0.5rem;
	padding: 0.2rem 0.6rem;
	background-color: white;
	color: #333333;
	border: 2px solid #535e73;
	border-radius: 100px;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: 0.7rem;
	font-weight: 500;
	user-select: none;

	white-space: nowrap;
}

.pending_requests_button_active {
	background-color: #535e73;
	color: white;
}

.filters_container {
	width: 100%;
	display: flex;
	margin-left: 1rem;
	padding-bottom: 0.5rem;
}
.modal_results {
	width: 100%;
	height: calc(100% - 7.5rem);
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 1rem;
	gap: 0.8rem;
}

.modal_results::-webkit-scrollbar {
	opacity: 0;
	width: 8px;
}

.modal_results:hover::-webkit-scrollbar {
	opacity: 1;
}

.modal_results::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 10px;
}

.modal_results::-webkit-scrollbar-thumb {
	background-color: #c9c9c9ce;
	border-radius: 10px;
	display: none;
	transition: 0.3s;
}

.modal_results:hover::-webkit-scrollbar-thumb {
	opacity: 1;
	display: block;
}

.modal_results::-webkit-scrollbar-thumb:hover {
	background-color: #a7a7a7ce;
}
