.modal {
	position: absolute;
	top: 0;
	left: 9rem;
	width: calc(100vw - 9rem);
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
.modal_close {
	width: 0;
}
.modal_overlay {
	position: absolute;
	top: 0;
	width: calc(100vw - 9rem);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 100;
}
.modal_overlay_close {
	width: 0;
}
.modal_container {
	width: clamp(18rem, 21rem, 26rem);
	height: 100%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	position: relative;
	transition: 0.5s;
	z-index: 101;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
}

.modal_container_close {
	transition: 0.5s;
	width: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
}

.modal_content {
	width: clamp(18rem, 21rem, 26rem);
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	right: 0;
}

.modal_header {
	width: 100%;
	height: 2.5rem;
	display: flex;
	position: relative;
	margin-top: 0.5rem;
	align-items: center;
	border-bottom: 3px solid #e0e0e0;
}

.modal_header h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	color: #333333;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	box-sizing: border-box;
}

.close_button {
	position: absolute;
	right: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #333333;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
.modal_results {
	width: 100%;
	height: calc(100% - 7.5rem);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	box-sizing: border-box;
	padding: 1rem;
	gap: 0.8rem;
}

.title-report_container {
	width: 100%;
	height: 5rem;
	background: linear-gradient(to right, #2f3243, #4f4f6b);
	color: white;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 10px;
	font-size: 1.2rem;
}

.download_button {
	width: 100%;
	height: 3rem;
	background-color: white;
	border: 1px solid #535e73;
	border-radius: 5px;
	color: #535e73;
	cursor: pointer;
}
.download_button:hover {
	background-color: #535e73;
	color: white;
}
.inputs_container {
	display: flex;
	gap: 0.5rem;
}
