.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #111827;
  color: white;
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  font-family: poppins, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.nav button {
  background: #374151;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
}
.nav button:hover {
  background: #4b5563;
}

.month {
  text-transform: capitalize;
  font-size: .9rem;
  text-align: center;
  flex-grow: 1;
}

.legend {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  gap: 0.3rem;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 0.85rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.4rem;
  flex-grow: 1;
  margin-top: 0.5rem;
  overflow: hidden;
  height: 100%;
}

.day,
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f2937;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
  overflow: hidden;
}

.day:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

.menu {
  position: absolute;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 10px;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 10;
  width: 160px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.menuBtn {
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  color: white;
  font-size: 0.85rem;
  font-weight: 600;
}






.weekday {
  text-align: center;
  font-weight: 500;
  padding: 6px 0;
}

.activeDay {
  font-weight: 700;
  color: #ffffff;
}

.inactiveDay {
  color: #9ca3af;
  opacity: 0.6;
}

.disabledDay {
  opacity: 0.4;
  pointer-events: none;
  background: #4b5563 !important;
}