/* ============================================================
    MODAL OVERLAY
============================================================ */
.modal_overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ============================================================
    CONTENEDOR PRINCIPAL DEL MODAL
============================================================ */
.modal_container {
  width: 70vw;
  height: 80vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

/* ============================================================
    ENCABEZADO DEL MODAL
============================================================ */
.modal_header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #20212E;
  position: relative;
  padding-left: 3rem;
}

/* Botón de cierre */
.modal_close_button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 4rem;
  bottom: 1rem;
}

.modal_close_button:hover {
  opacity: 0.7;
}

/* Información del profesor */

.teacher_info_container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
  position: relative;
  transition: .3s;
}

/* Foto del profesor */
.teacher_photo_container {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 4px solid white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8a8a8;
  transition: .3s;
}

/* | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | |*/

.teacher_info_container_case1{
    height: 10rem;
    display: flex;
    position: absolute;
    left: 3rem;
    color: white;
    bottom: -5rem;
  transition: .3s;
}
.teacher_photo_container_case1{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid white;
  transition: .3s;
}
.teacher_photo_container_case1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teacher_details_container_case1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.teacher_details_container_case1 .teacher_email {
  font-size: 1rem;
  color: #0270ff;
}
/* | | | | | | | | | | | | | | | | | | | | | | | | | | | | | | |*/


.teacher_photo_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Detalles del profesor */
.teacher_details_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .3s;
}

.teacher_name {
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin: 0;
  transition: .3s;
}

.teacher_email {
  font-size: 1rem;
  color: #0270ff;
  margin: 0;
  transition: .3s;
}

/* ============================================================
    CONTENEDOR PRINCIPAL DEL PERFIL (CUERPO DEL MODAL)
============================================================ */
.teacher_profile_container {
  width: 100%;
  height: calc(100% - 8rem);
  display: flex;
  box-sizing: border-box;
  padding-inline: 2rem;
}

/* ============================================================
   CONTENEDOR DEL CASE 1 (HORARIO)
============================================================ */
.teacher_case1_container {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.schedule_main_container{
    width: 70%;
    height: calc(100% - 6rem);
    margin-top: 5rem;
    box-sizing: border-box;
    padding-right: 1rem;
}

.request_history_container {
  width: 30%;
  height: 100%;
  border-left: 1px solid #c1c1c1;
  padding-left: 1rem;
  box-sizing: border-box;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.view_attendance_history_button{
  width: 100%;
  height: 3rem;
  background-color: white;
  border: 1px solid #525D73;
  color: #525D73;
  border-radius: 4px;
  cursor: pointer;
}

.view_attendance_history_button:hover{
  background-color: #525D73;
  color: white;
}






.teacher_case2_container{
  width: 100%;
  display: flex;
  align-items: center;
}
.attendance_calendar_main_container{
  width: 70%;
  height: 90%;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}