.search-bar_section{
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.search-bar_container{
    width: 95%;
    height: 2.3rem;
    display: flex;
    align-items: center;
}

.search-input{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #939393;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 1rem;
}

.search-icon{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin-left: .5rem;
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
}