.teacher-result_box{
    width: 100%;
    height: 4rem;
    flex-shrink: 0;
    box-shadow: 0 0 4px 2px rgba(177, 176, 176, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.teacher-result_box:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: .3s;
}

.teacher-result_photo_container{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
    flex-shrink: 0;
}

.teacher-result_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.teacher-result_name{
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    user-select: none;
}