.pending_requests_card {
    width: calc(100vw - clamp(21rem, 21rem, 26rem) - 9rem);
    min-width: 34rem;
    height: clamp(11rem, 30vh, 30vh);
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pending_requests_header {
    width: 100%;
    height: 2.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-bottom: 1px solid #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    box-sizing: border-box;
}

.pending_requests_title {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 1rem;
    flex-shrink: 0;
}

.pending_requests_button {
    margin-right: .5rem;
    padding: 0.2rem 0.6rem;
    background-color: white;
    color: #333333;
    border: 2px solid #535E73;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    user-select: none;

    white-space: nowrap;   

}

.pending_requests_button_active {
    background-color: #535E73;
    color: white;
}





 
.pending_requests_body {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    gap: .5rem;
    padding: .5rem;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.ending_requests_body::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.ending_requests_body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.ending_requests_body::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.ending_requests_body:hover::-webkit-scrollbar-track {
  background: rgba(255,255,255,1);
}

.ending_requests_body:hover::-webkit-scrollbar-thumb {
  background: #dbdbdbce;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.02);
}

.ending_requests_body:hover::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2ce;
}

.ending_requests_body:hover {
  scrollbar-color: #dbdbdbce rgba(255,255,255,1);
}