.attendance-monitor_container{
    width: clamp(18rem, 21rem, 26rem);
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
