.empty_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.empty_box_image{
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
    user-select: none;
}

.empty_box_text{
    margin: 0;
    padding: 0;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: -2rem;
    user-select: none;
}