.modal {
    position: absolute;
    top: 0;
    left: 9rem;
    width: calc(100vw - 9rem);
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal_close {
   width: 0;
}
.modal_overlay {
    position: absolute;
    top: 0;
    width: calc(100vw);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.modal_overlay_close {
    width: 0;
}
.modal_container {
    width: calc(50vw - 9rem);
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative;
    transition: .5s;
    z-index: 101;
    overflow: hidden;
}

.modal_container_close {
    transition: .5s;
    width: 0;
    overflow: hidden; 
    padding: 0; 
    margin: 0;
    border: none; 
}

.modal_content{
    width: calc(50vw - 9rem);
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    right: 0;
   
}

.modal_header{
    width: 100%;
    height: 2.5rem;
    display: flex;
    position: relative;
    margin-top: .5rem;
    align-items: center;
    border-bottom: 3px solid #e0e0e0;
}

.modal_header h2{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #333333;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    box-sizing: border-box;
}

.close_button{
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.search-bar_container{
    width: calc(100% - 2rem);
    height: 2.3rem;
    margin: 1rem;
}

.search-input{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #939393;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 1rem;
}



.modal_results{
    width: 100%;
    height: calc(100% - 7.5rem); 
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    gap: .8rem;
}